<div class="container">
  <h1>Inscripcion</h1>
  <form [formGroup]="checkoutForm" (submit)="onSubmit(checkoutForm.value)">
    <div class="form-group">
      <label for="Semestre">Semestre</label>
      <select class="browser-default custom-select" formControlName="Id_Semestre">
        <option [ngValue]="1">Semestre 1</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Estudiante">Estudiante</label>
      <select class="browser-default custom-select" formControlName="Id_Estudiante">
        <option *ngFor="let item of dataEstudiante;" [ngValue]="item.Id">{{item.Nombre}}</option>
      </select>
    </div>

 
    <div class="form-group">
        <div *ngFor="let item of dataMateria;" class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="item.Id" [value]="item.Id" (change)="onCheckChange($event, item.Id)">
            <label class="form-check-label" [for]="item.Id">{{item.Nombre}}</label>
          </div>
    </div>
    
      
      <br/>
      <div>
          <button type="submit" class="btn btn-success">Inscribir</button>
      </div>
    
  </form>
</div>

<div class="container">
    <table class="table table-hover">
      <tr *ngFor="let item of data;">
          <td>{{item.Id}}</td>
          <td>{{item.Nombre}}</td>
      </tr>
    </table>
    </div>