<div class="container">
    <h1>Materias</h1>
    <form #form="ngForm" (submit)="onSubmit(form)">
      
      <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" #Nombre="ngModel" [(ngModel)]="materiasService.Nombre" required>
      </div>
      <div class="form-group">
        <label for="Hora_Academica">Horas Academicas</label>
        <input type="text" class="form-control" id="Hora_Academica" name="Hora_Academica" #Hora_Academica="ngModel" [(ngModel)]="materiasService.Hora_Academica"> 
      </div>  
      <button type="submit" class="btn btn-success">Crear</button>
    </form>
  </div>
  
  <div class="container">
  <table class="table table-hover">
    <tr *ngFor="let item of data;">
        <td>{{item.Nombre}}</td>
        <td>{{item.Hora_Academica}}</td>
    </tr>
  </table>
  </div>