<div class="container">
  <h1>Estudiante</h1>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="Identificacion">Identificación</label>
      <input type="text" class="form-control" id="Identificacion" name="Identificacion" #Identificacion="ngModel" [(ngModel)]="estudiantesService.Identificacion" required>
    </div>

    <div class="form-group">
      <label for="Nombre">Nombre</label>
      <input type="text" class="form-control" id="Nombre" name="Nombre" #Nombre="ngModel" [(ngModel)]="estudiantesService.Nombre" required>
    </div>
    <div class="form-group">
      <label for="Apellido">Apellido</label>
      <input type="text" class="form-control" id="Apellido" name="Apellido" #Apellido="ngModel" [(ngModel)]="estudiantesService.Apellido" required> 
    </div>
    <div class="form-group">
      <label for="Sexo">Sexo</label>
      <select class="browser-default custom-select" name="Sexo" id="Sexo" #Sexo="ngModel" [(ngModel)]="estudiantesService.Sexo">
          <option selected>Seleccione el Sexo</option>
          <option value="M">M</option>
          <option value="F">F</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
  </form>
</div>

<div class="container">
<table class="table table-hover">
  <tr *ngFor="let item of data;">
      <td (click)="populateForm(item)">{{item.Identificacion}} </td>
      <td (click)="populateForm(item)">{{item.Nombre}}</td>
      <td (click)="populateForm(item)">{{item.Apellido}}</td>
      <td (click)="populateForm(item)">{{item.Sexo}}</td>
  </tr>
</table>
</div>
